
graficzne_programowanie_test/.mono/metadata/ide_messaging_meta.txt
graficzne_programowanie_test/.mono/assemblies/Release/api_hash_cache.cfg
graficzne_programowanie_test/.mono/assemblies/Release/GodotSharp.dll
graficzne_programowanie_test/.mono/assemblies/Release/GodotSharp.pdb
graficzne_programowanie_test/.mono/assemblies/Release/GodotSharp.xml
graficzne_programowanie_test/.mono/assemblies/Release/GodotSharpEditor.dll
graficzne_programowanie_test/.mono/assemblies/Release/GodotSharpEditor.pdb
graficzne_programowanie_test/.mono/assemblies/Release/GodotSharpEditor.xml
graficzne_programowanie_test/.mono/metadata/scripts_metadata.editor
graficzne_programowanie_test/.mono/temp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.AssemblyInfo.cs
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.AssemblyInfoInputs.cache
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.assets.cache
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.csproj.CoreCompileInputs.cache
graficzne_programowanie_test/.mono/metadata/scripts_metadata.editor_player
graficzne_programowanie_test/.mono/temp/bin/Debug/Graficzne Programowanie Test.dll
graficzne_programowanie_test/.mono/temp/bin/Debug/Graficzne Programowanie Test.pdb
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.csproj.FileListAbsolute.txt
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.csprojAssemblyReference.cache
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.dll
graficzne_programowanie_test/.mono/temp/obj/Debug/Graficzne Programowanie Test.pdb
graficzne_programowanie_test/.mono/temp/obj/Graficzne Programowanie Test.csproj.nuget.dgspec.json
graficzne_programowanie_test/.mono/temp/obj/Graficzne Programowanie Test.csproj.nuget.g.props
graficzne_programowanie_test/.mono/temp/obj/Graficzne Programowanie Test.csproj.nuget.g.targets
graficzne_programowanie_test/.mono/temp/obj/project.assets.json
graficzne_programowanie_test/.mono/temp/obj/project.nuget.cache
graficzne_programowanie_test/.vs/GRAFICZNE PROGRAMOWANIE TEST/DesignTimeBuild/.dtbcache.v2
graficzne_programowanie_test/.vs/GRAFICZNE PROGRAMOWANIE TEST/v16/.suo
graficzne_programowanie_test/Graficzne Programowanie Test.sln
graficzne_programowanie_test/project.godot
graficzne_programowanie_test/Graficzne Programowanie Test.csproj
